.myDatePicker .dark-border fieldset.MuiOutlinedInput-notchedOutline {
    border-color: white;
  }

.myDatePicker fieldset.MuiOutlinedInput-notchedOutline {
    border-color: black;
  }

  .dx-datagrid-checkbox-size.dx-checkbox-checked .dx-checkbox-icon {  
    border: 1px solid red;  
} 

.PrivateSwitchBase-input .css-1m9pwf3{
    color: red
}

input[type="checkbox"] {
    /* Add your styles here */

    display: none;
}

.MuiSvgIcon-root .MuiSvgIcon-fontSizeMedium .css-i4bv87-MuiSvgIcon-root{
 display: none;
}


  /* .myDatePicker .Mui-focused fieldset.MuiOutlinedInput-notchedOutline {
    border-color: red;
  } */
