.analog-clock {
    border-radius: 50%;
    /* height: 200px;
    width: 200px; */
    height: 150px;
    width: 150px;
    position: relative;
    /* background-color: #000000; */
  }
  
  .clock-face {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .clock-face-background {
    width: 100%;
    height: 100%; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    }

    .dark-mode {
        background-image: url('../../public/clock-black.png');
    }

    .light-mode {
        background-image: url('../../public/clock-white.png');
    }
  
  .center-pin {
    position: absolute;
    transform-origin: center bottom;
    width: 5%;
    height: 5%;
    border: 2px solid #DA1F26;
    border-radius: 50%;
    left: 47.5%;
    top: 47.5%;
    z-index: 500;
  }
  
  .hour-hand,
  .minute-hand,
  .second-hand {
    position: absolute;
    transform-origin: center bottom;
  }
  
  .hour-hand {
    width: 2%;
    height: 22px;
    border-radius: 20px;
    top: 34.8%;
    left: 49%;
    z-index: 4;
  }
  
  .minute-hand {
    width: 1%;
    height: 36px;
    border-radius: 10px;
    top: 26%;
    left: 49.5%;
    z-index: 3;
  }
  
  .second-hand {
    width: 0.4%;
    height: 45px;
    background-color: #DA1F26;
    border-radius: 5px;
    top: 20%;
    left: 49.9%;
    z-index: 2;
  }
  
  