@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* SYNCFUSION COMPONENTS CSS */
@import url("https://cdn.syncfusion.com/ej2/material.css");

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.ps-menu-button:hover {
  color: black !important;
}

.ps-submenu-content ul a:hover .leads_counter {
  color: black !important;
}
.nav-item,
.navbar {
  z-index: 10000;
}
@media screen and (max-width: 800px) {
  .sidebar {
    z-index: 10000000;
  }
}

.e-dlg-center-center,
.e-quick-popup-wrapper.e-device {
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* color-picker style  */

#preview {
  background: transparent
    url("https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png")
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-input-group:not(.e-float-icon-left),
.e-input-group.e-success:not(.e-float-icon-left),
.e-input-group.e-warning:not(.e-float-icon-left),
.e-input-group.e-error:not(.e-float-icon-left),
.e-input-group.e-control-wrapper:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left) {
  border: none;
}

.dark-mode .PhoneInputCountryIconImg {
  color: #fff;
}

.PhoneInput{
  padding : 14px 4px !important;
}

.image-picker .progress-bar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
  background-color: white;
}

.image-picker .progress-bar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 50000;
  transition: all 1.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside.ps-sidebar-root {
  width: 200px;
  min-width: 200px;
}

.css-b3tsul.ps-collapsed {
  width: 65px !important;
  min-width: 65px !important;
}

/* Data tables stylings */
.MuiDataGrid-columnHeadersInner {
  width: 100% !important;
}

.MuiDataGrid-columnHeadersInner > div {
  width: 100% !important;
}

.MuiDataGrid-cellCheckbox {
  min-width: 22px !important;
  width: 22px !important;
}

.MuiDataGrid-main .MuiDataGrid-cellCheckbox .MuiButtonBase-root {
  padding: 0 !important;
}

.MuiDataGrid-virtualScroller {
  scroll-behavior: smooth !important;
  margin-top: 0 !important;
}

.MuiDataGrid-virtualScrollerRenderZone {
  width: 100% !important;
}

.MuiDataGrid-row {
  padding-left: 2px !important;
  width: 100% !important;
}
.MuiDataGrid-columnHeaders {
  position: sticky !important;
  top: 0 !important;
  z-index: 10 !important;
  min-height: 45px !important;
  font-size: 13px !important;
}

.MuiDataGrid-columnHeaderCheckbox {
  min-width: 22px !important;
  width: 22px !important;
}
.MuiDataGrid-columnHeader .MuiButtonBase-root {
  padding: 0 !important;
}
 
.MuiDataGrid-columnHeader[data-field="leadSource"] {
  width: 45px !important;
  min-width: 45px !important;
}

.MuiDataGrid-columnHeader[data-field="leadSource"]
  .MuiDataGrid-columnHeaderDraggableContainer {
  width: 70% !important;
}

.MuiDataGrid-columnHeader[data-field="leadSource"]
  .MuiDataGrid-columnHeaderDraggableContainer
  .MuiDataGrid-columnHeaderTitleContainer {
  justify-content: center !important;
}

.MuiDataGrid-cell[data-field="language"] div {
  padding-left: 4px !important;
  width: 100% !important;
}
.MuiDataGrid-cell[data-field="leadSource"] {
  width: 45px !important;
  min-width: 45px !important;
  justify-content: center !important;
}
.MuiDataGrid-cell[data-field="leadSource"] div{
  width: 100% !important; 
  justify-content: center !important;
}
.MuiDataGrid-cell[data-field="edit"] {
  width: 100% !important;
  max-width: 100% !important;
}
.MuiDataGrid-cell[data-field="creationDate"] {
  text-align: center !important;
}
.MuiDataGrid-cell {
  padding: 0 3px !important;
}

.MuiDataGrid-cell[data-field="id"] div {
  width: 100% !important;
  text-align: center !important;
}

.MuiDataGrid-columnHeader {
  padding: 0 !important;
}
.MuiDataGrid-cell .MuiFormControl-root {
  margin: 8px 0 !important;
  width: 100% !important;
}
.MuiDataGrid-main .MuiSelect-select {
  padding: 3px 2px !important;
  padding-right: 8px !important;
  width: 70% !important;
}

.MuiDataGrid-columnHeader .MuiDataGrid-columnSeparator {
  display: none !important;
}
.MuiDataGrid-columnHeader[data-field="edit"]
  .MuiDataGrid-columnHeaderTitleContainerContent {
  width: 100% !important;
}

.MuiDataGrid-columnHeader[data-field="edit"]
  .MuiDataGrid-columnHeaderTitleContainerContent
  .MuiDataGrid-columnHeaderTitle {
  width: 100% !important;
  text-align: center !important;
}

label[for="bulkImport"] .MuiButtonBase-root{
  z-index: 5 !important;
}

.MuiDataGrid-main .MuiDataGrid-cell {
  overflow-wrap: anywhere;
}

.phone-input-light .PhoneInputInput{
  background-color: #fff;
  color:"#000 !important"
}

.phone-input-dark .PhoneInputInput {
  background-color: #000;
  color:"white !important"
}

.MuiDataGrid-cell badge:not(badge.available) {
  background: #000000c7 !important;
}

.spinner-container {
  position: relative !important;
  top: 0 !important; 
  left: 0 !important;
  margin: 0 !important; 

}

/* Loader */
.spinner-container circle[fill='#8C37F7'], .spinner-container circle[fill='#8C37F6'], .spinner-container circle[fill='#DABDFF']{
  fill: #da1f26 !important;
}

.spinner-container g > circle:first-child {
  stroke: #ff6a6f !important;
}

.MuiDataGrid-columnHeader[aria-label='Action'] .MuiDataGrid-columnHeaderTitleContainerContent{
  width: 100% !important;
}

.MuiDataGrid-columnHeader[aria-label='Action'] .MuiDataGrid-columnHeaderTitle {
  width: 100% !important;
  text-align: center;
}

.MuiDataGrid-columnHeader:first-child .MuiDataGrid-columnHeaderDraggableContainer, .MuiDataGrid-main .MuiDataGrid-row > div:first-child .MuiDataGrid-cellContent {
  padding-left: 10px;
}

.MuiDataGrid-main .MuiDataGrid-columnHeaderCheckbox .MuiDataGrid-columnHeaderDraggableContainer {
  padding-left: 0 !important;
}

.light-mode-datatable .MuiDataGrid-cell[data-field="leadName"] {
  color: #da1f26;
  font-weight: 500;
}

.dark-mode-datatable .MuiDataGrid-cell[data-field="leadName"] {
  color: white;
  font-weight: 500;
}

.MuiDataGrid-columnHeaders {
  max-height: 45px;
  height: 45px;
  line-height: 45px;
}

.MuiDataGrid-cell {
  border-right: 1px solid rgba(224, 224, 224, 1);
}